:root {
    --blue: #0070d1;
    --bg-grey: #1f1f1f;
    --light-grey: #bebcbb;
    --bg-dark-blue: #161c3b;
    --bg-btn: #363636;
    --bg-btn-2: #CD3D0F;
    --bg-blue: #00439C;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100%;
}

.ms_height_logo {
    height: 30px;
    width: 100px;
}

.ms_btn {
    border: none;
    border-radius: 2rem;
}

.ms_btn_bg {
    background-color: var(--bg-btn);
}

.ms_btn_bg_orange {
    background-color: var(--bg-btn-2);
}
.ms_jumbo{
    background-image: url('../img/jumbo-bg.png');
}
.ms_hero{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}
.ms_jumbo,
.ms_hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.ms_margin_top {
    margin-top: 400px;
}

.ms_hover_pointer:hover {
    cursor: pointer;
}
.ms_font_size{
    font-size: 2.5rem;
}
.ms_max_width{
    max-width: 800px;
}
.ms_btn_bg_blue{
    background-color: var(--blue);
}
.mc_shadow{
    text-shadow: 2px 2px black;
}
.mc_hover_opacity{
    opacity: 0.5;
}
.mc_hover_opacity:hover{
    cursor: pointer;
    opacity: 1;
}
.mc_bg_grey{
    background-color: var(--bg-grey);
}
.ms_max_width_small{
    max-width: 250px;
}
.mc_hover_transform{
    transition: 0.5s ease-in-out;
}
.mc_hover_transform:hover{
    transform: translate(0px, -15px);
}
.mc_hover_transform:hover img{
    box-shadow: 20px 20px 50px grey;
}
.mc_bg_lightgrey{
    background-color: var(--light-grey);
}
.ms_btn_bg_transp{
    background-color: rgba(255, 255, 255, 0.5);
}
.ms_max_width_logo{
    max-width: 300px;
}
.ms_max_width_banner{
    max-width: 600px;
}
.ms_min_height{
    min-height: 255px;
}
.ms_bg_blue{
    background-color: var(--bg-dark-blue);
}
.ms_outline{
    outline-style: solid;
    color: var(--blue);
}
.ms_width{
    max-width: 200px;
    transition: all ease-in-out 0.5s;
}
.ms_width img{
    box-shadow: 20px 20px 50px grey;
}
.ms_width:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.ms_width_logo_foot{
    max-width: 150px;
    min-width: 75px;
}
footer ul{
    list-style: none;
}
.ms_bg_blue_light{
    background-color: var(--bg-blue);
}
.ms_button_hover{
    border: 2px solid rgba(255, 255, 255, 0);
    outline: solid rgba(255, 255, 255, 0);
}
.ms_button_hover_color_1:hover{
    border: var(--bg-dark-blue) 2px solid;
    outline: solid white;
}
.ms_button_hover_color_2:hover{
    border: var(--light-grey) 2px solid;
    outline: solid rgba(255, 255, 255, 0.5);
}
.ms_button_hover_color_3:hover{
    border: 2px solid white;
    outline: solid var(--blue);
}
.ms_button_hover_color_4:hover{
    border: 2px solid rgb(32, 15, 15);
    outline: solid var(--bg-btn-2);
}
.ms_button_hover_color_5:hover{
    border: 2px solid white;
    outline: solid var(--bg-btn);
}
.ms_world{
    height: 30px;
}
.ms_txt_dec{
    text-decoration: none !important;
    color: black;
    position: relative;
}
.ms_txt_dec::before{
    content:"\2022";
    font-size: 2rem;
    color: blue;
    position: absolute;
    top: -15px;
    left: -15px;
}
.dropdown-menu{
    width: 100vw;
    margin-top: -1px !important;
    border-radius: 0;
    border: 0;
}
.nav-item.dropdown{
    position: static;
}
.ms_li_width{
    max-width: 100px;
}
.ms_img_dropdown{
    max-width: 50px;
}
.ms_img_dropdown:hover{
    box-shadow: 10px 10px 10px grey;
    cursor: pointer;
}
.ms_list_style{
    list-style: none;
}
.dropdown-toggle::after{
    background-image: url(../img/chevron-down-solid.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    border: 0;
    content: "";
    transform: translateY(6px);
    transition: 0.5s;
}

.dropdown-toggle.show::after{
    transform: rotate(180deg);
}